[Unit]
Description=PKGUPD watchdog

[Service]
ExecStart=pkgupd watchdog watchdog.dir=%h/Applications dir.apps.data=%h/.local/share
Restart=always
RestartSec=60

[Install]
WantedBy=default.target
